<h2>Team Matches</h2>
<div class="container2">
  <table>
    <thead>
      <th *ngFor="let header of headers" style="text-align: center; font-size: 26px;">{{header}}</th>
    </thead>
    <tbody> 
      <tr *ngFor="let fixture of fixturesList">
        <td><img id="icon" [src]="fixture.teams.home.logo"></td>
        <td>{{ fixture.teams.home.name }}</td>
        <td>{{ fixture.goals.home }}</td>
        <td>---</td>
        <td>{{ fixture.goals.away }}</td>
        <td>{{ fixture.teams.away.name }}</td>
        <td><img id="icon" [src]="fixture.teams.away.logo"></td>
      </tr>
    </tbody>
  </table>
</div>

<div style="display: flex; justify-content: center; margin-top: 10px;">
  <button style="border-radius: 5px; width: 50px; width:100px; height: 30px; font-size: 22px; background-color: beige; " routerLink="../">Back</button>

</div>