/* You can add global styles to this file, and also import other style files */
#icon {
  width: 24px;
  height: 24px;
}
.container1 {
  border: solid 1px black;
  border-radius: 10px;
  min-width: max-content;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  background-color: beige;
  opacity: 0.9;
}

.container2 {
  display: table;
  margin-top: 20px;
  border: solid 1px black;
  width: 80%;
  min-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: beige;
  opacity: 0.9;
}

td {
  text-align: center;
  font-size: 22px;
}

body {
  background-image: url("/assets/football.jpg");
  background-repeat: none;
  background-size: cover;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
}
